body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
li:hover{
    background: #0066CC;
    color:#fff;
}

/*     */

#chara {
    width: 32px;
    height: 32px;
    object-fit: cover;

    position: absolute;
    top: 10;
    left: 10;
}

.chara{
    

    position:absolute;
    left:40px; 
    bottom:50px;
}

.coin{
    width: 64px;
    height: 64px;

    position:absolute;
    right:10px; 
    bottom:50px;
}

.div{
    text-align: center;
    font-size: 64px;
}

.button{
    display: flex;
    justify-content: center;
}